.timeline-block {
  width: 70px;
  height: 3rem;
  background-color: lightgray;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.timeline-block.invisible {
  background-color: white !important;
}

.timeline-block.progress {
  background-color: white !important;
}

.timeline-block.green {
  background-color: green;
  color: white;
}

.timeline-block.yellow {
  background-color: yellow;
  color: black;
}

.timeline-block.light-gray {
  background-color: lightgray;
  color: black;
}

.timeline-block.dark-gray {
  background-color: rgb(95, 95, 95);
  color: white;
}

.timeline-block.red {
  background-color: red;
  color: white;
}

div p{
    font-weight: bold;
  
}